llama-index==0.14.8
llama-index-core==0.14.8
llama-index-embeddings-ollama==0.8.4
llama-index-llms-ollama==0.9.0
llama-index-storage-docstore-redis==0.4.1
llama-index-vector-stores-qdrant==0.8.6

ollama==0.6.0
python-dotenv==1.2.1
qdrant-client==1.15.1
